@model WalletWeb.ViewModels.Home.HomeAgregateViewModel
@{
    ViewData["Title"] = "Home";
}

@{
    ViewData["mainmenu_scroll"] = ""; //pagescroll , fixedscroll
    ViewData["body_class"] = "";
    ViewData["html_class"] = "";
    ViewData["pagetopbar_class"] = "";
    ViewData["maincontent_class"] = "";
    ViewData["maincontent_type"] = "";
    ViewData["pagesidebar_class"] = "";
    ViewData["pagechatapi_class"] = "";
    ViewData["chatapiwindows_demo"] = "";
    ViewData["chatapiwindows_class"] = "";
}

<div class="col-lg-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Update State</h2>  
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-8 col-sm-9 col-xs-10">
                    
                </div>
            </div>
        </div>
    </section>
</div>

